<div class="sideNavBar close">
    <div class="logo-container">
      <i class="bx bx-football logo-pic"></i>
      <span class="logo-name">KicksCity</span>
      <span class="home-content"><i class="bx bx-menu"></i></span>
    </div>
    <ul class="nav-links">
      {{!-- first link --}}
      {{!-- <li>
        <a href="/products">
          <i class="bx bx-grid-alt"></i>
          <span class="link-name">Products</span>
        </a>
        <ul class="sub-menu empty">Products</ul>
      </li> --}}
      {{!-- real first link --}}
      <li>
        <div class="icon-link">
          <a href="/orders">
            <i class="bx bx-grid-alt"></i>
            <span class="link-name">Orders</span>
          </a>
          <i class="bx bxs-chevron-down arrow"></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link-name" href="/orders">Orders</a></li>
          {{!-- <li><a href="/products">Home</a></li>
          <li><a href="/products/create">Create New</a></li> --}}
        </ul>
      </li>
      {{!-- first link --}}
      <li>
        <div class="icon-link">
          <a href="/products">
            <i class="bx bx-grid-alt"></i>
            <span class="link-name">Products</span>
          </a>
          <i class="bx bxs-chevron-down arrow"></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link-name" href="#">Products</a></li>
          <li><a href="/products">Home</a></li>
          <li><a href="/products/create">Create New</a></li>
        </ul>
      </li>
      {{!-- second link --}}
      <li>
        <div class="icon-link">
          <a href="/products">
            <i class="bx bx-grid-alt"></i>
            <span class="link-name">Specifications</span>
          </a>
          <i class="bx bxs-chevron-down arrow"></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link-name" href="#">Specifications</a></li>
          <li><a href="/specifications/brand">Brand</a></li>
          <li><a href="/specifications/collection">Collection</a></li>
          <li><a href="/specifications/colour">Colour</a></li>
          <li><a href="/specifications/material">Material</a></li>
          <li><a href="/specifications/surface">Surface Type</a></li>
          <li><a href="/specifications/position">Position</a></li>
          <li><a href="/specifications/closure">Closure Type</a></li>
          <li><a href="/specifications/cutting">Cutting</a></li>
        </ul>
      </li>
      {{!-- third link --}}
      {{#eq user.user_type_id 1}}
      <li>
        <div class="icon-link">
          <a href="/users">
            <i class='bx bxs-user-detail'></i>
            <span class="link-name">Accounts</span>
          </a>
          <i class="bx bxs-chevron-down arrow"></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link-name" href="#">Accounts</a></li>
          <li><a href="/users">Staff</a></li>
          <li><a href="/customers">Customers</a></li>
        </ul>
      </li>
      {{/eq}}
      {{!-- fourth link --}}
      <li>
        <div class="icon-link">
          <a href="/users/profile">
            <i class="bx bx-user"></i>
            <span class="link-name">Profile</span>
          </a>
          <i class="bx bxs-chevron-down arrow"></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link-name" href="#">Profile</a></li>
          <li><a href="/users/profile">Settings</a></li>
          <li><a href="/users/logout">Logout</a></li>
        </ul>
      </li>
    </ul>
    </ul>
    <li>
    <li>
      <div class="icon-link">
        <a href="/users/profile">
          <i class="bx bx-user"></i>
          <span class="link-name">Profile</span>
        </a>
        <i class="bx bxs-chevron-down arrow"></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link-name" href="#">Create</a></li>
        <li><a href="#">Hello</a></li>
        <li><a href="#">Bye</a></li>
      </ul>
    </li>
    </ul>
    <li>
      <div class="user-details close">
        <div class="user-content">
          <i class="bx bx-user"></i>
          <span class="username">{{user.first_name}} {{user.last_name}}</span>
          <a href="/users/logout"><i class="bx bx-log-out"></i></a>

        </div>
      </div>
    </li>
  </div>