* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
}

#landing-img {
    background-image: url('/images/login-img.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-container {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 50px;
    width: 500px;
}

:root {
    background-color: #fff;
}

.btn-dark {
    background-color: #0c0b14;
}

.btn-black {
    background-color: #0c0b14;
}

.btn-black:hover {
    color: black !important;
    background: #fff;
    transition: 0.6s
}

.sideNavBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #0c0b14;
    z-index: 100;
    transition: all 0.5s ease
}

.sideNavBar.close {
    width: 78px
}

.sideNavBar .logo-container {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}

.sideNavBar .logo-container i {
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}

.sideNavBar .logo-name {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}

.sideNavBar.close .logo-name {
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}

.sideNavBar.close .logo-pic,
.sideNavBar.close .logo-name {
    display: none
}

.sideNavBar .nav-links {
    background: #0c0b14;
    height: 100%;
    /* padding-top: 30px;
    padding-left: 0; */
    padding: 30px 0 150px 0;
    overflow: auto
}

.sideNavBar .nav-links {
    overflow: visible;
}

.sideNavBar .nav-links::-webkit-scrollbar {
    display: none
}

.sideNavBar .nav-links li:hover {
    background: #1d1b31;
    transition: all 0.4s ease
}

.sideNavBar .nav-links li {
    position: relative;
    list-style: none
}

.sideNavBar .nav-links li .icon-link {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.sideNavBar.close .nav-links li .icon-link {
    display: block;
}

.sideNavBar .nav-links li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.sideNavBar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg)
}

.sideNavBar.close .nav-links i.arrow {
    display: none
}

.sideNavBar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sideNavBar .nav-links li a .link-name {
    font-size: 18px;
    font-weight: 400;
    color: #fff
}

.sideNavBar.close .nav-links li a .link-name {
    opacity: 0;
    pointer-events: none;
}

.sideNavBar .nav-links li .sub-menu {
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #1d1b31;
    display: none
}

.sideNavBar .nav-links li.showMenu .sub-menu {
    display: block
}

.sideNavBar.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    transition: all 0.4s ease;
    opacity: 0;
    display: block;
    pointer-events: none;
}

.sideNavBar.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
}

.sideNavBar .nav-links li .sub-menu a {
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease
}

.sideNavBar .nav-links li .sub-menu a:hover {
    opacity: 1
}

.sideNavBar .nav-links li .sub-menu .link-name {
    font-size: 18px;
    opacity: 1;
    display: block
}

.sideNavBar .nav-links li .sub-menu .link-name {
    display: none
}

/* .sideNavBar.close .nav-links li .sub-menu .link-name {
    display: none
} */

.sideNavBar.close .nav-links li .sub-menu .link-name {
    font-size: 18px;
    opacity: 1;
    display: block
}

.sideNavBar .nav-links li .sub-menu.empty {
    opacity: 0;
    pointer-events: auto;
    padding: 3px 20px 6px 16px
}

.sideNavBar .nav-links li .sub-menu.empty {
    opacity: 0;
    pointer-events: auto;
    color: #fff;
    padding: 3px 20px 6px 16px;
    transition: 0s;
}

.sideNavBar .nav-links li:hover .sub-menu.empty {
    top: 50%;
    transform: translateY(-50%)
}

.sideNavBar .user-details {
    position: fixed;
    bottom: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-top: 10px;
    background: #1d1b31;
    width: 260px;
    transition: all 0.4s ease
}

.sideNavBar .user-details.close {
    width: 78px;
}

.sideNavBar.close .user-details .bx-log-out,
.sideNavBar.close .user-details .username {
    display: none;
}

.sideNavBar .user-details i {
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 50px;
    text-align: center;
    line-height: 50px;
}

.sideNavBar .user-details .bx-log-out {
    position: absolute;
    right: 10px
}


/* .sideNavBar .user-details .user-content {
    display: flex;
    align-items: center
} */
/* .sideNavBar .user-details .user-content i {
    font-size: 30px;
    color: white;
    height: 50px;
    min-width: 50px;
    text-align: center;
    line-height: 50px;
} */

.home-section {
    position: relative;
    padding-top: 20px;
    height: 100vh;
    background: #fff;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease
}

.sideNavBar.close~.home-section {
    left: 78px;
    width: calc(100% - 78px)
}

.home-section .home-content .bx-menu,
.home-section .home-content .text {
    color: #0c0b14;
    font-size: 35px
}

.home-section .home-content .bx-menu {
    margin: 0 15px
}

.home-section .home-content .text {
    font-size: 26px;
    font-weight: 600;
}




/* flash */
.alert-simple.alert-warning
{
      border: 1px solid rgba(241, 142, 6, 0.81);
    background-color: rgba(220, 128, 1, 0.16);
    box-shadow: 0px 0px 2px #ffb103;
    color: #ffb103;
    text-shadow: 2px 1px #00040a;
  transition:0.5s;
  cursor:pointer;
}

.alert-warning:hover{
  background-color: rgba(220, 128, 1, 0.33);
  transition:0.5s;
}

.warning
{
      font-size: 18px;
    color: #ffb40b;
    text-shadow: none;
}