{{#extends 'base'}}

{{#block 'content'}}
<div class="d-flex justify-content-center">
<div class="overflow-auto mt-3 p-3 shadow-lg rounded-3 col-12" style="width: 400px"> 
<h3>Change Password: {{user.first_name}} {{user.last_name}}</h3>
<form method="POST">
    {{> csrfToken}}
    {{{form}}}
    <input type="submit" value="Update" class="btn btn-dark mt-3"/>
</form>
</div>
</div>
{{/block}}

{{/extends}}

