{{#extends 'base'}}

{{#block 'content'}}
<div style="margin-left:5%">
    <div style="display:flex; width: 90%; justify-content: space-between">
        <h3 class="mt-3">Staffs</h3>
        <a href="/users/register" class="btn btn-dark mt-3">Register New User</a>
    </div>
    <div class="overflow-auto mt-3 p-3 shadow-lg rounded-3 col-12" style="width:90%">
        <h4>Owner</h4>
        {{#each users}}
        {{#eq this.user_type_id 1}}
        {{> staffTable}}
        {{/eq}}
        {{/each}}
    </div>

    <div style="height:50px"></div>

    <div class="overflow-auto mt-3 p-3 shadow-lg rounded-3 col-12" style="width:90%">
        <h4>Admin</h4>
        {{#each users}}
        {{#eq this.user_type_id 2}}
        {{> staffTable}}
        {{/eq}}
        {{/each}}
    </div>

    <div style="height:50px"></div>

    <div class="overflow-auto mt-3 p-3 shadow-lg rounded-3 col-12" style="width:90%">
        <h4>Staff</h4>
        {{#each users}}
        {{#eq this.user_type_id 3}}
        {{> staffTable}}
        {{/eq}}
        {{/each}}
    </div>

</div>
</div>

{{/block}}

{{#block 'js'}}

{{> sweetAlertJS deleteType="user"}}

{{/block}}

{{/extends}}