{{#extends 'base'}}

{{#block 'content'}}
<div class="overflow-auto mt-3 p-3 shadow-lg rounded-3 col-12 col-md-12 col-sm-12" 
style="width: 70%; min-width: 600px; margin-left:10%"> 
<h3>Update User: {{user.username}}</h3>
<form method="POST">
    {{> csrfToken}}
    {{{form}}}
    <input type="submit" value="Update" class="btn btn-dark mt-3"/>
</form>
</div>
{{/block}}

{{/extends}}