{{#extends 'base'}}

{{#block 'content'}}

<div class="overflow-auto mt-3 p-3 shadow-lg rounded-3 col-12 col-md-12 col-sm-12"
    style="width: 70%; min-width: 600px; margin-left:10%">
    <h2>New Product</h2>
    <form method="POST">
        {{> csrfToken}}
        {{{form}}}

        <div class="row mt-3 p-3">

            <div class="col-lg-4" style="border: 2px solid lightgray">
                <img src="" style="display:none; width: 100%" id="uploaded_image" />
                <a href="#" class="btn btn-dark ms-3 mt-3 mb-3" id="upload_widget"><i
                        class="fa-solid fa-arrow-up-from-bracket me-3"></i>Upload Image</a>
            </div>
            <div class="col-lg-4" style="border: 2px solid lightgray">
                <img src="" style="display:none; width: 100%" id="uploaded_image2" />
                <a href="#" class="btn btn-dark ms-3 mt-3 mb-3" id="upload_widget2"><i
                        class="fa-solid fa-arrow-up-from-bracket me-3"></i>Upload 2nd Image</a>
            </div>
            <div class="col-lg-4" style="border: 2px solid lightgray">
                <img src="" style="display:none; width: 100%" id="uploaded_image3" />
                <a href="#" class="btn btn-dark ms-3 mt-3 mb-3" id="upload_widget3"><i
                        class="fa-solid fa-arrow-up-from-bracket me-3"></i>Upload 3rd Image</a>
            </div>

        </div>

        <input type="submit" value="Add Product" class="btn btn-dark mt-3" />
    </form>
</div>
<div style="height: 50px"></div>
{{/block}}

{{#block 'js'}}

{{> cloudinaryJS}}

{{/block}}

{{/extends}}