{{#extends 'base'}}

{{#block 'content'}}
<h5 class="ms-3 mt-3">{{variant.product.name}}</h5>
<h5 class="ms-3 my-3">Updating stock for size {{variant.size.size}}</h5>
<form method="POST" class="ms-3" style="width: 120px">
    {{> csrfToken}}
    {{{form}}}
    <input type="submit" value="Update" class="btn btn-dark mt-3"/>
</form>
{{/block}}

{{/extends}}